.header {
  background-color: #FFE303;
  padding: 20px;
  margin: 0px;
}

#searchbar {
  margin: 20px;
  padding: 10px;
  border: 3px solid black;
  border-radius: 10px;
  
}

.vertical {
  border-left: 6px solid black;
  height: 200px;
  position: absolute;
  left: 50%;
}

ul>li {
  margin: 20px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 10px;
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  /* Firefox 3.5 - 3.6 */
  -moz-box-shadow: 3px 3px 5px 6px #ccc;
  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  box-shadow: 3px 3px 5px 6px #ccc;

  list-style-type: none;
}